textColor = #334651
fonts = Helvetica, Arial, Verdana, sans-serif

html
  height 100%
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

body
  background-image linear-gradient(0, #05222f, #15131a)
  background-repeat no-repeat
  background-size cover
  padding: 2rem
  font: 14px/1.4 fonts

  h1
    color textColor